.food-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-form__field {
    margin-bottom: 2em;
}

.food-form__field--w-320 {
    max-width: $card-width;
}

.food-form__field:last-child {
    margin-bottom: 0;
}

.food-form__checkbox {
    @include visually-hidden();
}

// hover, focus, checked, disabled

.food-form__checkbox:focus + .food-form__label,
.food-form__checkbox:focus + .food-form__label .food-form__weight {
    background-color: $blue-light;
}

.food-form__checkbox:checked + .food-form__label,
.food-form__checkbox:checked + .food-form__label .food-form__weight {
    background-color: $pink;
}

.food-form__checkbox:checked:hover + .food-form__label:not(.food-form__label--not-switch-phrase),
.food-form__checkbox:checked:hover + .food-form__label:not(.food-form__label--not-switch-phrase) .food-form__weight,
.food-form__checkbox:checked:focus + .food-form__label:not(.food-form__label--not-switch-phrase),
.food-form__checkbox:checked:focus + .food-form__label:not(.food-form__label--not-switch-phrase) .food-form__weight {
    background-color: $pink-light;
}

.food-form__checkbox:disabled + .food-form__label,
.food-form__checkbox:disabled + .food-form__label .food-form__weight, {
    background-color: $gray;
}

.food-form__checkbox:disabled + .food-form__label::before {
    opacity: 0.5;
}

.food-form__checkbox:disabled + .food-form__label .food-form__phrase,
.food-form__checkbox:disabled + .food-form__label .food-form__title,
.food-form__checkbox:disabled + .food-form__label .food-form__desc {
    color: $gray;
}

.food-form__checkbox:checked ~ .food-form__call .food-form__call-default {
    opacity: 0;
    @include visually-hidden();
}

.food-form__checkbox:checked ~ .food-form__call .food-form__call-selected {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    opacity: 1;
}

.food-form__checkbox:checked:hover + .food-form__label:not(.food-form__label--not-switch-phrase) .food-form__phrase-default {
    opacity: 0;
    @include visually-hidden();
}

.food-form__checkbox:checked:hover + .food-form__label:not(.food-form__label--not-switch-phrase) .food-form__phrase-hover {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    opacity: 1;
}

.food-form__checkbox:disabled ~ .food-form__call .food-form__call-default {
    opacity: 0;
    @include visually-hidden();
}

.food-form__checkbox:disabled ~ .food-form__call .food-form__call-disabled {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    opacity: 1;
}

// end hover, focus, checked, disabled

.food-form__label {
    cursor: pointer;
}

.food-form__call {
    margin-top: 14px;
    padding-right: 4px;
    padding-left: 4px;

    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    color: #fff;
}

.food-form__call--center {
    display: block;
    text-align: center;
}

.food-form__call label {
    border-bottom: 1px dashed $blue;

    font-weight: bold;
    color: $blue;
    text-decoration: none;

    cursor: pointer;
}

.food-form__phrase-default,
.food-form__call-default {
    opacity: 1;
    visibility: visible;
}

.food-form__phrase-hover,
.food-form__call-selected,
.food-form__call-disabled {
    opacity: 0;
    @include visually-hidden();
}

.food-form__call-disabled {
    color: $yellow;
}

@media (min-width: 768px) {
    .food-form {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    .food-form {
        justify-content: space-between;
    }

    .food-form__field {
        margin-bottom: 0;
    }
}