@import "_variables";
@import "_mixins";
@import "fonts";

@import "blocks/section";
@import "blocks/card";
@import "blocks/cat-food";
@import "blocks/food-form";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    background-image: url('../images/Pattern.png');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.5) 100%), url('../images/Pattern.png');
    background-repeat: repeat;
    background-size: 100%;
    background-position: top left;
}

@media (min-width: 768px) {
    body {
        background-image: url('../images/Pattern@2x.png');
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.5) 100%), url('../images/Pattern@2x.png');
    }
}